.HeaderInfo {
    background-color: white;
    font-size: 2em;
    color: black;
    z-index: 9999;
    border: 2px solid black;
    padding: .5em;
    left: 10vw;
    top: 2vh;
    display: inline-block;
    position: fixed;
    width: 80%;
    box-sizing: border-box;
    /*    min-width: 400px;*/
        background-image: url(../../assets/images/vertical-waves.png);
    border-radius: 15px;

}