.MainContainer {
    background-color: white;
/*    min-height: 200vh;    */
    border: 2px solid black;
    min-width: 400px;
    padding: 2em;
    width: 60vw;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10em;
    border-radius: 15px;
}

